.u-section-1 .u-sheet-1 {
  min-height: 92px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-style: italic;
  margin: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 415px;
}

.u-section-2 .u-slider-1 {
  width: 551px;
  min-height: 374px;
  height: auto;
  margin: 21px 589px 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/riact.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  width: 71px;
  height: 71px;
}

.u-section-2 .u-carousel-control-2 {
  width: 71px;
  height: 71px;
}

.u-section-2 .u-group-1 {
  width: 581px;
  min-height: 374px;
  background-image: none;
  height: auto;
  margin: -374px 0 21px auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-slider-1 {
    width: 473px;
    min-height: 311px;
    margin-top: 20px;
    margin-right: 389px;
  }

  .u-section-2 .u-group-1 {
    width: 482px;
    min-height: 433px;
    margin-top: -372px;
    margin-right: -12px;
    margin-bottom: -41px;
  }

  .u-section-2 .u-btn-1 {
    padding: 10px 43px 10px 41px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-2 .u-slider-1 {
    width: 518px;
    min-height: 1001px;
    margin-right: 169px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 242px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 972px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-indicators-1 {
    width: 72px;
    height: 3px;
    top: auto;
    bottom: 94px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-left: 29px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 227px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    min-height: 447px;
    width: 300px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 25px 30px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 416px;
}

.u-section-3 .u-slider-1 {
  width: 570px;
  min-height: 350px;
  height: auto;
  margin: 20px 0 0 auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: -20px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/ciyf.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/ciyf2.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  background-image: url("images/roboprix.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/nit.jpeg");
  background-position: 50% 37.71%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-3 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
  left: 0;
  position: absolute;
  right: auto;
  background-image: none;
}

.u-section-3 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
  left: auto;
  position: absolute;
  right: 0;
  background-image: none;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 350px;
  height: auto;
  margin: -350px auto 46px 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 17px 60px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    width: 470px;
    min-height: 425px;
  }

  .u-section-3 .u-group-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-3 .u-slider-1 {
    width: 366px;
    min-height: 493px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-group-1 {
    width: 354px;
    min-height: 493px;
    margin-top: -493px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    min-height: 550px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-1 {
    min-height: 407px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 299px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    min-height: 450px;
    margin-top: 37px;
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1261px;
}

.u-section-4 .u-text-1 {
  margin: 60px 20px 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-gallery-1 {
  height: 1049px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
  margin: 30px auto 38px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-4 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-4 .u-gallery-item-9 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-back-image-9 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-4 .u-gallery-item-10 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-back-image-10 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-4 .u-gallery-item-11 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-back-image-11 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-4 .u-gallery-item-12 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-back-image-12 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-4 .u-gallery-item-13 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-back-image-13 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-4 .u-gallery-item-14 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-back-image-14 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-4 .u-gallery-item-15 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-4 .u-back-image-15 {
  object-position: 50% 50%;
}

.u-section-4 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-gallery-1 {
    height: 865px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1777px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1590px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4713px;
  }

  .u-section-4 .u-gallery-1 {
    height: 4472px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3082px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2816px;
    margin-right: initial;
    margin-left: initial;
  }
}