.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  min-height: 409px;
  background-image: none;
  margin: 60px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 409px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 409px;
  background-image: url("images/IMG_1915.jpg");
  background-position: 23% 50%;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 35px 30px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    min-height: 265px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-1 .u-image-1 {
    min-height: 337px;
    background-size: 110%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 258px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    min-height: 588px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 581px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    min-height: 373px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 366px;
    background-position: 23% 41.59%;
    background-size: auto 110%;
  }
}.u-section-2 {
  background-image: linear-gradient(black, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 481px;
}

.u-section-2 .u-list-1 {
  margin-top: 53px;
  margin-bottom: 53px;
  min-height: 375px;
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  grid-template-rows: auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/5ee4dc4b4857b108f5d084609629317e113fdce15b4c704f742f7ed79445c35d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/1_EtW8f51h8z9WMm21PnSXkw.jpeg");
  background-position: 67.9% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/57e2d54a4c56ac14f6da8c7dda793678153bdee757596c48732e7bd19449c45bbb_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/57e0d4434353aa14f6da8c7dda793678153bdee757596c48732e7bd19449c75ab9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/52e9dc4a4353b108f5d084609629317e113fdce15b4c704f742f7ed7934ec75c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-2 .u-list-1 {
    min-height: 309px;
    grid-template-columns: repeat(5, calc(20% - 8px));
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-2 .u-list-1 {
    min-height: 710px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1437px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
  }
}.u-section-3 {
  background-image: linear-gradient(white, black);
}

.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 665px;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin-top: 50px;
  margin-bottom: 0;
  min-height: 375px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-template-rows: auto;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  width: 310px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 21px auto 0 2px;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  margin: 29px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 19px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  width: 310px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 21px auto 0 2px;
}

.u-section-4 .u-line-2 {
  transform-origin: left center 0px;
  margin: 29px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 19px auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  object-position: 0% 50%;
  width: 310px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 21px auto 0 2px;
}

.u-section-4 .u-line-3 {
  transform-origin: left center 0px;
  margin: 29px auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 19px auto 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -21px auto 40px 414px;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    min-height: 309px;
    grid-gap: 0px;
    grid-template-columns: repeat(3, 33.333333333333336%);
    grid-template-rows: repeat(1, auto);
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
    min-height: 711px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
    min-height: 1599px;
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
    min-height: 1007px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 1px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 1px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 1px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}.u-section-6 {
  min-height: 894px;
}

.u-section-6 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 346px);
  left: 0;
  right: auto;
}

.u-section-6 .u-text-1 {
  font-weight: 300;
  font-size: 3rem;
  text-transform: none;
  margin: 54px calc(((100% - 1140px) / 2) + 362px) 0 calc(((100% - 1140px) / 2));
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 43px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 665px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-2 {
  font-weight: 300;
  text-transform: none;
  margin: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-6 .u-form-1 {
  height: 348px;
  margin: 20px 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
  letter-spacing: 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-3 {
  border-style: none none solid;
  padding: 0;
}

.u-section-6 .u-image-1 {
  min-height: 640px;
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 {
    min-height: 777px;
  }

  .u-section-6 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 346px);
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 162px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 548px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 528px;
  }
}

@media (max-width: 991px) {
  .u-section-6 {
    min-height: 633px;
  }

  .u-section-6 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 346px);
  }

  .u-section-6 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-image-1 {
    min-height: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-6 {
    min-height: 1379px;
  }

  .u-section-6 .u-shape-1 {
    height: 534px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-6 .u-text-1 {
    margin-top: -480px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 40px;
  }

  .u-section-6 .u-image-1 {
    min-height: 505px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 {
    min-height: 1192px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-1 {
    min-height: 318px;
  }
}