.u-section-1 .u-sheet-1 {
  min-height: 73px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-style: italic;
  margin: 11px 20px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8125rem;
  background-image: none;
  margin: -47px 44px 15px auto;
  padding: 9px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 61px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  font-weight: normal;
  margin: 17px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 259px;
}

.u-section-3 .u-slider-1 {
  width: 651px;
  min-height: 196px;
  height: auto;
  margin: 17px auto 40px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: 72px;
  height: 3px;
  top: auto;
  bottom: 19px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  font-style: normal;
  margin: 0 16px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 6px 83px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 16px 83px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-3 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 9px auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 9px auto 0 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  background-image: none;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-3 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-carousel-indicators-1 {
    left: auto;
    right: 138px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-slider-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 64px;
}

.u-section-4 .u-text-1 {
  font-style: italic;
  font-weight: normal;
  margin: 18px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 643px;
}

.u-section-5 .u-list-1 {
  margin-top: 28px;
  margin-bottom: 28px;
  min-height: 587px;
  grid-template-columns: calc(33.3333% - 10.6667px) calc(33.3333% - 10.6667px) calc(33.3333% - 10.6667px);
  grid-template-rows: auto;
  grid-gap: 16px 16px;
  height: auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-1 {
  margin: 13px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: 10px auto 0 0;
}

.u-section-5 .u-line-1 {
  transform-origin: left center 0px;
  margin: 13px auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 5px auto 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 13px auto 0 0;
  padding: 5px 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 213px;
  object-position: 0% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: 13px auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-7 {
  margin: 10px auto 0 0;
}

.u-section-5 .u-line-2 {
  transform-origin: left center 0px;
  margin: 13px auto 0 0;
}

.u-section-5 .u-text-8 {
  margin: 5px auto 0 0;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 13px auto 0 0;
  padding: 5px 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-9 {
  margin: 13px auto 0 0;
}

.u-section-5 .u-text-10 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-11 {
  margin: 10px auto 0 0;
}

.u-section-5 .u-line-3 {
  transform-origin: left center 0px;
  margin: 13px auto 0 0;
}

.u-section-5 .u-text-12 {
  margin: 5px auto 0 0;
}

.u-section-5 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 13px auto 0 0;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-5 .u-list-1 {
    min-height: 309px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 10.6667px));
  }

  .u-section-5 .u-image-1 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-1 {
    width: 99px;
    height: 38px;
  }

  .u-section-5 .u-image-2 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-2 {
    width: 99px;
    height: 38px;
  }

  .u-section-5 .u-image-3 {
    height: 169px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-btn-3 {
    width: 99px;
    height: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-5 .u-list-1 {
    min-height: 711px;
    grid-template-columns: repeat(2, calc(50% - 8.000025px));
  }

  .u-section-5 .u-image-1 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 200px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    min-height: 1599px;
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 347px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-9 {
    margin-top: 20px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    min-height: 1007px;
  }

  .u-section-5 .u-image-1 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 214px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 64px;
}

.u-section-6 .u-text-1 {
  font-style: italic;
  font-weight: normal;
  margin: 18px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 394px;
}

.u-section-7 .u-list-1 {
  min-height: 365px;
  grid-gap: 7px 7px;
  grid-template-columns: calc(20% - 5.6px) calc(20% - 5.6px) calc(20% - 5.6px) calc(20% - 5.6px) calc(20% - 5.6px);
  grid-template-rows: auto;
  height: auto;
  margin: 23px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  width: 247px;
  height: 122px;
  margin: 0 auto 0 -30px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  width: 247px;
  height: 122px;
  margin: 0 auto 0 -30px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  width: 247px;
  height: 122px;
  margin: 0 auto 0 -30px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  width: 247px;
  height: 122px;
  margin: 0 auto 0 -30px;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-image-5 {
  width: 247px;
  height: 122px;
  margin: 0 auto 0 -30px;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-image-6 {
  width: 247px;
  height: 122px;
  margin: 0 auto 0 -30px;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-image-7 {
  width: 247px;
  height: 122px;
  margin: 0 auto 0 -30px;
}

.u-section-7 .u-container-layout-8 {
  padding: 30px;
}

.u-section-7 .u-image-8 {
  width: 247px;
  height: 122px;
  margin: 0 auto 0 -30px;
}

.u-section-7 .u-container-layout-9 {
  padding: 30px;
}

.u-section-7 .u-image-9 {
  width: 247px;
  height: 122px;
  margin: 0 auto 0 -30px;
}

.u-section-7 .u-container-layout-10 {
  padding: 30px;
}

.u-section-7 .u-image-10 {
  width: 247px;
  height: 122px;
  margin: 0 auto 0 -30px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 184px;
  }

  .u-section-7 .u-list-1 {
    min-height: 301px;
    grid-template-columns: repeat(5, calc(20% - 5.6px));
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-7 .u-list-1 {
    min-height: 331px;
    grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px));
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-7 .u-list-1 {
    grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-list-1 {
    grid-template-columns: repeat(2, calc(((100% - 340px) / 2)  + 165px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-8 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-9 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-image-10 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 64px;
}

.u-section-8 .u-text-1 {
  font-style: italic;
  font-weight: normal;
  margin: 18px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 601px;
}

.u-section-9 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 540px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 0px 0px;
  height: auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  height: 348px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-1 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-9 .u-line-1 {
  transform-origin: left center 0px;
  margin: 10px auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 9px 259px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: none none solid;
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin: 10px auto 0 0;
  padding: 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  height: 348px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-9 .u-line-2 {
  transform-origin: left center 0px;
  margin: 10px auto 0 0;
}

.u-section-9 .u-text-4 {
  margin: 9px 259px 0 0;
}

.u-section-9 .u-btn-2 {
  border-style: none none solid;
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  margin: 10px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-9 .u-list-1 {
    min-height: 445px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-9 .u-image-1 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-2 {
    margin-right: 59px;
  }

  .u-section-9 .u-btn-1 {
    width: 99px;
    height: 38px;
  }

  .u-section-9 .u-image-2 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-4 {
    margin-right: 59px;
  }

  .u-section-9 .u-btn-2 {
    width: 99px;
    height: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-9 .u-list-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-image-1 {
    height: 451px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }

  .u-section-9 .u-image-2 {
    height: 451px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-1 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-1 {
    margin-right: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-2 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-3 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-2 {
    height: 218px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 64px;
}

.u-section-10 .u-text-1 {
  font-style: italic;
  font-weight: normal;
  margin: 18px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 214px;
}

.u-section-11 .u-text-1 {
  font-size: 1.125rem;
  width: 803px;
  margin: 16px auto 30px;
}

.u-section-11 .u-btn-1 {
  padding: 0;
}

.u-section-11 .u-btn-2 {
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    width: 340px;
  }
}