.u-section-1 {
  background-image: url("images/v748-toon-131.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  width: 861px;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-image: none;
  font-family: Raleway, sans-serif;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  width: 569px;
  margin: 30px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 95px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 239px;
  height: 239px;
  background-image: url("images/IMG_1915.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-4 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-6 {
  line-height: 2.2;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    height: 180px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 569px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 451px;
    height: 451px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
  }
}.u-section-2 {
  background-image: linear-gradient(#1a1a1a, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 481px;
}

.u-section-2 .u-list-1 {
  margin-top: 53px;
  margin-bottom: 53px;
  min-height: 375px;
  grid-template-columns: calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px) calc(20% - 8px);
  grid-template-rows: auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/5ee4dc4b4857b108f5d084609629317e113fdce15b4c704f742f7ed79445c35d_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/1_EtW8f51h8z9WMm21PnSXkw.jpeg");
  background-position: 67.9% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/57e2d54a4c56ac14f6da8c7dda793678153bdee757596c48732e7bd19449c45bbb_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/57e0d4434353aa14f6da8c7dda793678153bdee757596c48732e7bd19449c75ab9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/52e9dc4a4353b108f5d084609629317e113fdce15b4c704f742f7ed7934ec75c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-2 .u-list-1 {
    min-height: 309px;
    grid-template-columns: repeat(5, calc(20% - 8px));
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-2 .u-list-1 {
    min-height: 710px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1437px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-2 .u-list-1 {
    grid-template-columns: 100%;
  }
}.u-section-3 {
  background-image: linear-gradient(white, black);
}

.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 665px;
}

.u-section-4 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 0;
  min-height: 565px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-template-rows: auto;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 213px;
  object-position: 0% 50%;
  width: 310px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 21px auto 0 2px;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  margin: 29px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 19px auto 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 213px;
  width: 310px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  margin: 21px auto 0 2px;
}

.u-section-4 .u-line-2 {
  transform-origin: left center 0px;
  margin: 29px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 19px auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 213px;
  width: 310px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  margin: 21px auto 0 2px;
}

.u-section-4 .u-line-3 {
  transform-origin: left center 0px;
  margin: 29px auto 0 0;
}

.u-section-4 .u-text-6 {
  margin: 19px auto 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -22px 241px 41px auto;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-4 .u-list-1 {
    min-height: 466px;
    grid-gap: 0px;
    grid-template-columns: repeat(3, 33.333333333333336%);
    grid-template-rows: repeat(1, auto);
    height: auto;
  }

  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1171px;
  }

  .u-section-4 .u-list-1 {
    min-height: 711px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    min-height: 1599px;
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    min-height: 1007px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 1px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 1px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 1px;
  }
}